<div class="validation-errors">
  <ul>
    <% @meetup.errors.full_messages.each do |message| %>
      <li><strong><%= message %></strong></li>
    <% end %>
  </ul>
</div>

<%= form_for @meetup, :html => { :class => "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name: "%>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <br>
    <%= f.label :location, "Location: "%>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date, "Date: "%>
    <%= f.date_field :date, class: "form-control" %>
  </div>
  <%= f.submit "#{button_text}", class: "btn btn-success" %>
<% end %>
