<header id="title">
  <h1>"<%= @meetup.name %>" on <%= @meetup.date.strftime("%b %d, %Y") %></h1>
</header>

<%= link_to "Edit meetup's basic info", edit_meetup_path(@meetup), :class => "edit_button" %>
<%= link_to "Delete this meetup", meetup_path(@meetup), method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete_button"  %>

<h2>Step 1: <%= link_to "Add players to this meetup", meetup_players_path(params[:id]) %> </h2>

<% if @players.count > 0 %>
  Players at this meetup (so far!):
  <ul>
    <% @players.each do |player| %>
      <li>
        <%= player.name %> <%= link_to "(remove?)", remove_meetup_player_path(meetup_id: params[:id], id: player.id), method: :patch %>
      </li>
    <% end %>
  </ul>
<% end %>


<h2>Steps 2-100: <%= link_to "Add game events to this meetup", new_meetup_event_path(params[:id]) %> </h2>


<% if @games.count > 0 %>
  Games played at this meetup (so far!):
  <ul>
    <% @meetup.events.each do |event| %>
      <li>
        <%= link_to event.game.name, meetup_event_path(meetup_id: params[:id], id: event.id) %>
      </li>
    <% end %>
  </ul>
<% end %>
