<h1>Details for the meetup <%= @meetup.location %> on <%= @meetup.date %></h1>

<h3>Step 1: <%= link_to "Add players to this meetup", meetup_players_path(params[:id]) %> </h3>
<h3>Steps 2-100: <%= link_to "Add game events to this meetup", new_meetup_event_path(params[:id]) %> </h3>

Games played at this meetup:
<ul>
  <% @games.each do |game| %>
    <li>
      <%= game.name %>
    </li>
  <% end %>
</ul>
