<h1>New Event</h1>
<%= form_for @event, url: @url_path do |f| %>
  <fieldset>
    <legend>Event</legend>
      <%= f.label :game, "Game played: "%>
      <%= f.collection_select(:game_id, Game.all, :id, :name) %>
      <br>
      <%= f.label :players, "Add players from your meetup: "%>
      <%= f.collection_check_boxes :players, @meetup.players, :id, :name %>
      <br>
      <%= f.submit %>
  </fieldset>
<% end %>
