<%= form_for @game, :html => { :class => "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name: "%>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :genre, "Genre: "%>
    <%= f.text_field :genre, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description: " %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :time_to_play, "Time to play (hours): "%>
    <%= f.number_field :time_to_play, :min => 0, :step => 0.25, class: "form-control" %>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :min_players, "Number of players (minimum) :" %>
      <%= f.number_field :min_players, :min => 0, :step => 1, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :max_players, "Number of players (maximum) :" %>
      <%= f.number_field :max_players, :min => 0, :step => 1, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= f.submit "#{button_text}", class: "btn btn-success" %>
    </div>
  </div>

<% end %>
