<h1>Games central</h1>

<h3><%= link_to "Add a new game", new_game_path %></h3>

<h4>Click each game to see details or to edit/delete</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Number of Players</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to "#{game.name}", game_path(game) %></td>
        <td><%= game.genre.capitalize %></td>
        <td><%= game.min_players %> to <%= game.max_players %></td>
      </tr>
    <% end %>
  </tbody>

</table>
