<header id="title">
  <h1>Games</h1>
</header>

<h3><%= link_to "Add a new game", new_game_path, :class => "do_button" %></h3>

<section class="information">
  Click each game to see details or to edit/delete
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= link_to "#{game.name}", game_path(game) %></td>
          <td><%= game.genre.capitalize %></td>
          <td><%= game.min_players %> to <%= game.max_players %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<footer id="footer">
  <%= link_to "Back home", root_path %>
</footer>
