<div class="page-header">
  <h1><%= @game.name %></h1>
</div>

<%= link_to "Edit this game", edit_game_path(@game), class: "btn btn-info" %>
<%= link_to "Delete this game", game_path(@game), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

<div class="row">
  <div class="col-md-12">
    <h2>Overview</h2>
    <p>
      <strong><%= @game.name %></strong> is a <%= @game.genre.downcase %> game
      for <%= @game.min_players %> to <%= @game.max_players %> players.
      This game takes approximately <%= @game.time_to_play %> hour<%= "s" if @game.time_to_play != 1 %> to play.
    </p>

    <h2>Description</h2>
    <p>
      <%= simple_format @game.description %>
    </p>
  </div>
</div>

<%= link_to "Back to Games", games_path, class: "btn btn-default" %>
