<%= form_for @player, :html => { :class => "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name: "%>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Email: "%>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :city, "City: "%>
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :state, "State: "%>
        <%= f.select :state, ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"], {include_blank: true}, class: "form-control"  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :age, "Age :" %>
        <%= f.number_field :age, :min => 13, :step => 1, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bio, "Bio: "%>
    <%= f.text_area :bio, class: "form-control" %>
  </div>
  <%= f.submit "#{button_text}", class: "btn btn-success" %>
<% end %>
