<header id="title">
  <h1><%= @player.name %></h1>
</header>

<%= link_to "Edit this player", edit_player_path(@player), :class => "do_button" %>
<%= link_to "Delete this player", player_path(@player), method: :delete, data: { confirm: 'Are you sure?' }, :class => "do_button"  %>

<section class="information">
  <h2 class="subtitle">Overview</h2>
  <strong><%= @player.name %></strong> is <%= @player.age %> years old.
    <%= @player.name %> lives in <%= @player.city %>, <%= @player.state %>.
</section>


<section class="information">
  <h2 class="subtitle">Bio</h2>
  <%= simple_format @player.bio %>
</section>

<footer id="footer">
  <%= link_to "Back to Players", players_path %>
</footer>
